
Temp/UnityLockfile
Temp/FSTimeGet-27ac83c1c4194ac4493134760db7fc53
Temp/FSTimeGet-d00e64658548f694c8e9dfea50680282
Temp/FSTimeGet-e4a7cbc9aa090564785c573a36c8a78f
Library/ArtifactDB
Library/ArtifactDB
Packages/com.ptc.vuforia.engine-10.3.2.tgz
Library/PackageCache/com.ptc.vuforia.engine@277c806214e3-1635979565000/Vuforia/Plugins/iOS/VuforiaEngine.framework/VuforiaEngine
